<footer class="ps-footer">
  <div class="ps-footer__wrapper">
    <div class="ps-footer__important-information">
      <h4>INFORMACIÓN DE CONTACTO</h4>
      <div class="ps-footer__important-information__item">
        <i class="icon icon-phone"></i>
        <span class="ps-footer__copyright">311 438 6970 - 4 80 8660</span>
      </div>
      <div class="ps-footer__important-information__item">
        <i class="icon icon-email"></i>
        <span class="ps-footer__copyright"
          >comercial@printingsolutions.com.co
        </span>
      </div>
      <div class="ps-footer__important-information__item">
        <i class="icon icon-location"></i>
        <span class="ps-footer__copyright"
          >Carrera 14 # 79 28 - oficina 303, Bogotá, Colombia</span
        >
      </div>
    </div>

    <!-- <span class="ps-footer__copyright">© Copyright 2020 Printing Solutions</span> -->
  </div>
</footer>
