<footer class="ps-footer">
  <div class="ps-footer__wrapper">
    <div
      class="ps-footer__important-information"
      itemscope
      itemtype="http://schema.org/LocalBusiness"
    >
      <h4>INFORMACIÓN DE CONTACTO</h4>
      <div class="ps-footer__important-information__item">
        <i class="icon icon-phone"></i>
        <label class="ps-footer__copyright">
          <a href="tel:{{ mobile }}" target="_blank" itemprop="telephone"
            >311 438 6970</a
          >
          -
          <a href="tel:{{ phone }}" target="_blank" itemprop="telephone"
            >7 03 7907</a
          ></label
        >
      </div>
      <a
        class="ps-footer__important-information__item"
        itemprop="address"
        href="mailto:comercial@printingsolutions.com.co"
        target="_blank"
        itemscope
        itemtype="http://schema.org/PostalAddress"
      >
        <i class="icon icon-email"></i>
        <label class="ps-footer__copyright" itemprop="email"
          >comercial@printingsolutions.com.co</label
        >
      </a>
      <a
        class="ps-footer__important-information__item"
        itemprop="address"
        href="{{ urlToRedirectGoogleMaps }}"
        target="_blank"
        itemscope
        itemtype="http://schema.org/PostalAddress"
      >
        <i class="icon icon-location"></i>
        <label class="ps-footer__copyright" itemprop="streetAddress"
          >Carrera 14 # 79 28 - oficina 303, Bogotá, Colombia</label
        >
      </a>
    </div>

    <!-- <span class="ps-footer__copyright">© Copyright 2020 Printing Solutions</span> -->
  </div>
</footer>
