@import "../../../variables";

.ps-footer {
  background: #f7f7f7;

  &__wrapper {
    max-width: 1152px;
    margin: auto;
    height: 100%;
    padding: 1.5rem;
    @media (min-width: 768px) {
      padding: 1.5rem 0;
    }
    .ps-footer__important-information {
      display: flex;
      flex-direction: column;
      h4 {
        color: $darkCyanTwo;
        padding-bottom: 1rem;
        font-size: 14px;
        margin: 0;
      }
      &__item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 8px;
        label,
        a {
          font-size: 12px;
          margin-left: 8px;
          line-height: 14px;
        }
      }
    }
  }

  &__copyright,
  a {
    color: #787878;
  }

  .icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    &-location {
      background: url("src/assets/images/location.svg") no-repeat center center;
    }
    &-phone {
      background: url("src/assets/images/phone.svg") no-repeat center center;
    }
    &-email {
      background: url("src/assets/images/email.svg") no-repeat center center;
    }
  }
}
