@import "../../../variables";

:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ps-tooltip {
  align-items: center;
  background: $primaryCyan;
  border-radius: 12px;
  border: 1px solid $primaryCyan;
  color: #000000;
  display: flex;
  font-size: 12px;
  font-weight: 600;
  height: auto;
  justify-content: center;
  opacity: 1;
  padding: 0 0.5rem;
  pointer-events: none;
  position: relative;
  transition: all 0.25s ease-out;
  width: 100%;
  &:after {
    border-left: solid transparent 6px;
    border-right: solid transparent 6px;
    border-top: solid $primaryCyan 6px;
    bottom: -6px;
    content: " ";
    height: 0;
    position: absolute;
    right: 8px;
    width: 0;
  }
  img {
    height: 100%;
    margin-right: 0.25rem;
    padding-top: 0.25rem;
    transform: scaleX(-1);
    width: 18px;
  }
}
