<div class="ps-container">
  <div class="ps-container__wrapper">
    <div class="ps-header">
      <ps-header></ps-header>
    </div>

    <div class="ps-main">
      <div class="background">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
