@import "../variables";

.container {
  background-color: $backgroundColor;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;

  .content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: auto;
  }
}

.image {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-size: contain;
}
