@import "../../../variables";

:host {
  height: 48px;
  min-height: 48px;
  font-family: "Proxima Nova";
  background: rgb(144, 254, 254);
  background: linear-gradient(
    180deg,
    rgba(144, 254, 254, 0.2) 0%,
    rgba(28, 28, 28, 1) 100%
  );

  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  position: relative;
  justify-content: center;

  @media (min-width: $breakPointTb) {
    padding: 0.5rem 40px;
  }
}

.ps-banner {
  &__tooltip {
    @media (min-width: $breakPointTb) {
      padding-right: 1rem;
    }
  }
}
