@import "../../../variables";

:host {
  height: 48px;
  min-height: 48px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-family: "Proxima Nova";
}

.ps-banner {
  &__wrapper {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0.5rem 1rem 1.5rem 1rem;
    @media (min-width: $breakPointTb) {
      justify-content: flex-end;
      padding: 0.5rem 1rem;
    }
  }
  &__call-to-actions {
    display: none;
    @media (min-width: $breakPointTb) {
      display: block;
    }
  }
  &__tooltip {
    align-self: flex-start;
    @media (min-width: $breakPointTb) {
      padding-right: 1rem;
    }
  }
}
