:host {
  height: 48px;
  min-height: 48px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.ps-banner__wrapper {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0.5rem 1rem;
  .ps-banner__text {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
  }
}
