.ps-call-to-actions {
  display: flex;
  flex-direction: column;
  .call-to-action {
    color: #ffffff;
    background-color: #1d1d1b;
    position: relative;
    width: 30px;
    height: 30px;
    right: 0;
    border-radius: 50%;
    padding: 1rem;
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
    outline: none;
    align-items: center;
    span.text {
      font-size: 16px;
      font-weight: 600;
    }
    span.number {
      font-size: 12px;
      font-weight: 600;
    }

    &__phone {
      border: 2px solid #14a3f1;
      box-shadow: 0 2px 8px 1px rgba(20, 163, 241, 1);
    }
    &__whatsapp {
      border: 2px solid #25d366;
      box-shadow: 0 2px 8px 1px rgba(37, 211, 102, 1);
    }
  }
  .icon-mobile {
    background: url("src/assets/images/phone-cyan.svg") no-repeat;
    background-size: cover;
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  .icon-whatsapp {
    background: url("src/assets/images/whatsapp.svg") no-repeat;
    background-size: cover;
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}
