.ps-call-to-actions {
  display: flex;
  flex-direction: column;
  .call-to-action {
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0 17px 10px -10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all ease-in-out 500ms;
    &:hover {
      box-shadow: 0 37px 20px -20px rgba(0, 0, 0, 0.2);
      transform: translate(0, -4px);
    }
    &__circle {
      color: #ffffff;
      position: relative;
      justify-content: center;
      padding: 4px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 0.89rem;
      font-weight: 600;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: 0.075em;
      color: #ffffff;
    }

    &--call {
      background-color: #005a87;
    }
    &--whatsapp {
      background-color: #25d366;
    }
  }
  .icon-mobile {
    background: url("src/assets/images/phone-cyan.svg") no-repeat;
    background-size: cover;
    display: inline-block;
    padding: 0;
    width: 28px;
    height: 28px;
  }
  .icon-whatsapp {
    background: url("src/assets/images/whatsapp.svg") no-repeat;
    background-size: cover;
    display: inline-block;
    padding: 0;
    width: 28px;
    height: 28px;
  }
}
