<a
  class="call-to-action call-to-action--call animate__animated animate__fadeInUp animate__delay-1s"
  href="tel:{{ phone }}"
  (click)="
    saveAnalyticsTrack('llamada-flotante'); saveDataAction('llamada-flotante')
  "
>
  <div class="call-to-action__text">
    <div class="call-to-action__circle phone">
      <i class="icon icon-phone"></i>
    </div>
    <span class="call-to-action__number">{{ phoneShort }}</span>
  </div>
</a>

<a
  class="call-to-action call-to-action--whatsapp animate__animated animate__fadeInUp animate__delay-1s"
  href="https://wa.me/{{ phoneWhatsapp }}"
  (click)="
    saveAnalyticsTrack('whatsapp-flotante'); saveDataAction('whatsapp-flotante')
  "
>
  <div class="call-to-action__text">
    <div class="call-to-action__circle whatsapp">
      <i class="icon icon-whatsapp"></i>
    </div>
    <span class="call-to-action__number"> Atención en Línea</span>
  </div>
</a>
