<div class="ps-call-to-actions">
  <a
    class="call-to-action call-to-action--call animate__animated animate__zoomIn animate__delay-2s"
    href="tel:{{ phone }}"
    (click)="sendTrack('llamada')"
  >
    <div class="call-to-action__text">
      <span class="call-to-action__text--label">Llama ahora!</span>
      <span class="call-to-action__number">311 438 69 70</span>
    </div>
    <div class="call-to-action__circle">
      <i class="Phone is-animating"></i>
    </div>
  </a>

  <a
    class="call-to-action call-to-action--whatsapp animate__animated animate__zoomIn animate__delay-3s"
    href="https://api.whatsapp.com/send?phone={{ phone }}"
    (click)="sendTrack('whatsapp')"
  >
    <div class="call-to-action__text">
      <span> Atención en línea</span>
    </div>
    <div class="call-to-action__circle">
      <i class="Phone icon-whatsapp"></i>
    </div>
  </a>
</div>
