<div class="ps-main">
  <div class="ps-main__sections">
    <section class="ps-main__main-wrapper">
      <div class="ps-main__main-grid">
        <div
          class="ps-main__data"
          itemscope
          itemtype="http://schema.org/LocalBusiness"
        >
          <div class="ps-main__title animate__animated animate__fadeInDown">
            <h1 itemprop="description">
              Mantenimiento de Impresoras <span>en su casa u oficina.</span>
            </h1>
          </div>
          <div
            class="ps-main__item ps-main__item--description animate__animated animate__fadeInDown"
          >
            <div
              *ngFor="let text of descriptions; let i = index"
              class="ps__card ps-main__item--description__text ps-main__item--description__text--{{
                i + 1
              }} animate__animated"
            >
              <h2>{{ text.title }}</h2>
              <div class="ps__card__wrapper-description">
                <p itemprop="description">
                  {{ text.text }}
                </p>

                <span class="icon-timer">
                  <svg>
                    <circle
                      class="icon-timer__circle-animation icon-timer__circle-animation--{{
                        i + 1
                      }}"
                    ></circle>
                  </svg>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="ps-main__image">
          <img
            class=""
            src="https://firebasestorage.googleapis.com/v0/b/printing-solutions-co.appspot.com/o/gallery%2Fprinter-ps.png?alt=media&token=eedb0fb7-aeb2-47b8-83dc-2f1225c837bf"
          />
          <div class="ps-main__image__shadow"></div>
        </div>

        <div
          class="ps-main__advice-button animate__animated animate__fadeInLeft"
        >
          <button type="button">
            <a
              href="tel:{{ phone }}"
              (click)="
                saveAnalyticsTrack('llamada-pagina-inicial');
                saveDataAction('llamada-flotante')
              "
            >
              <span class="button__label">¡Llama Ahora!</span>
            </a>
          </button>
          <span class="ps-main__advice-phone">{{ phoneShort }}</span>
        </div>
      </div>
    </section>

    <section class="ps-main__who">
      <h2>QUIÉNES SOMOS</h2>
      <p>
        Somos una empresa con mas de 10 años de experiencia en el sector de
        equipos de impresión, realizamos todo tipo de mantenimientos tanto
        preventivos como correctivos en impresoras de todas las marcas como
        también la venta de Toners, tintas, cartuchos originales y genéricos
        optimizando costos al momento de sus impresiones.
      </p>
    </section>
    <section class="ps-main__gallery">
      <h2>GALERÍA</h2>
      <ps-gallery></ps-gallery>
    </section>
    <div class="ps-main__maps-and-data">
      <h2>DONDE ENCONTRARNOS</h2>
      <div class="ps-main__maps">
        <ps-maps></ps-maps>
      </div>
    </div>

    <section class="ps-main__call-to-actions">
      <ps-call-to-actions [dataIp]="dataIp"> </ps-call-to-actions>
    </section>
  </div>
  <ps-footer></ps-footer>
</div>
