<div class="ps-main">
  <div class="ps-main__ink">
    <i class="ps-ink"></i>
  </div>
  <div
    class="ps-main__data"
    itemscope
    itemtype="http://schema.org/LocalBusiness"
  >
    <div class="ps-main__title animate__animated animate__fadeInLeft">
      <h1 itemprop="description">
        Mantenimiento y Venta de Suministros para Impresoras
      </h1>
    </div>
    <div
      class="ps-main__item ps-main__item--description animate__animated animate__fadeInRight animate__delay-1s"
    >
      <h2 itemprop="description">
        Mantenimientos Preventivos y Correctivos para Impresoras en Todas las
        Marcas, Venta de Cartuchos, Tóner y Tintas
      </h2>
    </div>
  </div>

  <div
    class="ps-main__ilustration animate__animated animate__fadeInLeft animate__delay-1s"
  >
    <i class="ps-ilustration"></i>
  </div>

  <div class="ps-main__call-to-actions">
    <ps-call-to-actions> </ps-call-to-actions>
  </div>

  <div
    class="ps-main__data ps-main__data--info animate__animated animate__fadeInUp animate__delay-4s"
    itemscope
    itemtype="http://schema.org/LocalBusiness"
  >
    <div class="ps-main__item">
      <!-- <i class="icon icon-phone"></i> -->
      <span itemprop="telephone">311 438 6970</span>&nbsp;-&nbsp;
      <span itemprop="telephone"> 4 80 8660</span>
    </div>

    <div
      class="ps-main__item"
      itemprop="address"
      itemscope
      itemtype="http://schema.org/PostalAddress"
    >
      <!-- <i class="icon icon-location"></i> -->
      <span itemprop="streetAddress">Bogotá</span>,&nbsp;
      <span itemprop="streetAddress">Calle 144 # 144 - 04</span>
    </div>
    <div class="ps-main__item">
      <!-- <i class="icon icon-email"></i> -->
      <a href="mailto:printingsolutionscol@gmail.com" itemprop="email"
        >printingsolutionscol@gmail.com</a
      >
    </div>
  </div>
</div>
