<div class="ps-main">
  <div class="ps-main__wrapper-image-title">
    <div class="ps-main__image">
      <img
        class="animate__animated animate__fadeInDown"
        src="https://firebasestorage.googleapis.com/v0/b/printing-solutions-co.appspot.com/o/gallery%2Fprinter.jpg?alt=media&token=6ae12ab2-5378-4f59-8b00-01e7659c0a12"
      />
    </div>

    <div
      class="ps-main__data"
      itemscope
      itemtype="http://schema.org/LocalBusiness"
    >
      <div class="ps-main__title animate__animated animate__fadeInDown">
        <h1 itemprop="description">
          Mantenimiento y Venta de Suministros para Impresoras.
        </h1>
      </div>
      <div
        class="ps-main__item ps-main__item--description animate__animated animate__fadeInDown animate__delay-1s"
      >
        <p
          itemprop="description"
          *ngFor="let text of descriptions; let i = index"
          class="ps-main__item--description__text ps-main__item--description__text--{{
            i + 1
          }} animate__animated"
        >
          {{ text.text }}
        </p>
      </div>
      <div
        class="ps-main__funcy-button animate__animated animate__fadeInLeft animate__delay-2s"
      >
        <a
          href="tel:{{ phone }}"
          class="funcy-button "
          (click)="
            animationClass = 'active';
            saveAnalyticsTrack('llamada-pagina-inicial');
            saveDataAction('llamada-flotante')
          "
          [ngClass]="animationClass"
          (animationend)="animationClass = ''"
        >
          <div class="left-frills frills"></div>
          <div class="button">
            <i class="icon-phone"></i>
            <div>
              <span class="button__label">Agenda tu servicio</span>
              <span class="button__number">311 438 69 70</span>
            </div>
          </div>
          <div class="right-frills frills"></div>
        </a>
      </div>
    </div>
  </div>

  <div class="ps-main__who">
    <h2>QUIÉNES SOMOS</h2>
    <p>
      Somos una empresa con mas de 10 años de experiencia en el sector de
      equipos de impresión, realizamos todo tipo de mantenimientos tanto
      preventivos como correctivos en impresoras de todas las marcas como
      también la venta de Toners, tintas, cartuchos originales y genéricos
      optimizando costos al momento de sus impresiones.
    </p>
  </div>
  <div class="ps-main__gallery">
    <h2>GALERÍA</h2>
    <ps-gallery></ps-gallery>
  </div>

  <!-- <div class="ps-main__maps-and-data">
    <h2>DONDE ENCONTRARNOS</h2>
    <div class="ps-main__maps">
      <ps-maps></ps-maps>
    </div>

    <div
      class="ps-main__data ps-main__data--info"
      itemscope
      itemtype="http://schema.org/LocalBusiness"
    >
      <div class="ps-main__item">
        <span itemprop="telephone">311 438 6970</span>&nbsp;-&nbsp;
        <span itemprop="telephone"> 4 80 8660</span>
      </div>

      <div
        class="ps-main__item"
        itemprop="address"
        itemscope
        itemtype="http://schema.org/PostalAddress"
      >
        <span itemprop="streetAddress">Bogotá</span>,&nbsp;
        <span itemprop="streetAddress">Calle 144 # 144 - 04</span>
      </div>
      <div class="ps-main__item">
        <a href="mailto:printingsolutionscol@gmail.com" itemprop="email"
          >printingsolutionscol@gmail.com</a
        >
      </div>
    </div>
  </div> -->

  <div class="ps-main__call-to-actions">
    <ps-call-to-actions [dataIp]="dataIp"> </ps-call-to-actions>
  </div>
</div>
