@import "./variables";

html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: "Times New Roman";
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

a,
a:active,
a:focus,
a:visited {
  text-decoration: none;
}

.cyan {
  background: cyan;
}
.yellow {
  background: yellow;
}
.magenta {
  background: magenta;
}
