<div class="cards-container">
  <div class="card card-one">
    <div class="logo">
      <div>
        <span class="header__title">Printing Solutions</span>
      </div>
      <div class="dots">
        <div class="dot lightblue cyan"></div>
        <div class="dot lightblue yellow"></div>
        <div class="dot lightblue magenta"></div>
      </div>
    </div>

    <div class="card__person">
      <span class="card__person--name">Jorge Ocampo</span>
      <span class="card__person--job">Director comercial y operativo</span>
    </div>

    <div class="card__data">
      <div class="card__data--title">
        <span>Mantenimiento y Venta de Suministros para Impresoras</span>
      </div>
      <div class="card__data--item">
        <i class="icon icon-phone"></i>
        <span>311 438 6970 - 4 80 8660</span>
      </div>
      <div class="card__data--item">
        <i class="icon icon-site"></i>
        <span>printingsolutions.com.co</span>
      </div>
      <div class="card__data--item">
        <i class="icon icon-email"></i>
        <span>printingsolutionscol@gmail.com</span>
      </div>
      <div class="card__data--item">
        <i class="icon icon-location"></i>
        <span>Bogotá, Calle 144 # 144 - 04</span>
      </div>
    </div>
  </div>

  <div class="card card-two">
    <div class="logo-container">
      <div class="logo">
        <div>
          <span class="header__title">Printing Solutions</span>
        </div>
        <div class="dots">
          <div class="dot lightblue cyan"></div>
          <div class="dot lightblue yellow"></div>
          <div class="dot lightblue magenta"></div>
        </div>
      </div>
    </div>
    <i class="icon-post-it icon-postit-cyan"></i>
    <i class="icon-post-it icon-postit-yellow"></i>
    <i class="icon-post-it icon-postit-magenta"></i>
    <div class="card-footer">
      <div class="brand">
        <i class="icon icon-epson"></i>
      </div>
      <div class="brand">
        <i class="icon icon-hp"></i>
      </div>
      <div class="brand">
        <i class="icon icon-samsumg"></i>
      </div>
      <div class="brand">
        <i class="icon icon-canon"></i>
      </div>
    </div>
  </div>
</div>
